.form {
    box-shadow: 0 0 15px var(--color-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: fit-content;
    padding: 2.5vh 5vw;
    margin: 2.5vh auto;
}

.form__title {
    font-size: 2rem;
    margin-bottom: 1vh;
}

.input {
    width: 80vw;

}

.form__button {
    width: 100%;
    margin-top: 2vh;
}

.login__button {
    background-color: var(--color-shadow);
    color: var(--color-primary);
}

@media (min-width: 768px) {
    .input {
        width: 70vw;
    }
}

@media (min-width: 1024px) {
    .input {
        width: 50vw;
    }
}


