.nav__Container {
    display: flex;
    position: relative;
    height: 20vh;
    max-height: 20vh;
    min-height: 150px;
}

.nav__background {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-primary);
    height: 17vh;
    min-height: 100px;
    width: 100%;
    padding: 2vh 10vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.nav__Container__noSearchBr {
    min-height: unset;
    max-height: unset;
    height: fit-content;
}
.nav__background__noSearchBr {
    min-height: unset;
    max-height: unset;
    height: 100%;
}


.nav__content__container {
    display: flex;
    justify-content: space-between;
    color: white;
    min-height: 100px;
    width: 100%;
    padding: 2vh 10vw;
    position: absolute;
    top: 0;
    left: 0;
    height: fit-content !important;
    background-color: unset;
    text-justify: auto;
    font: bold 1.5rem 'Roboto', sans-serif;
    z-index: unset;
}
.nav__content__container__noSearchBr {
    position: unset;
    min-height: unset;
}
.nav__content__container > p {
    all: unset;
    height: fit-content;
    color: #fff;
}

.nav__right__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: fit-content;
    width: 100%;
}

.nav__buttons__container {
    display: none;
    width: 100%;
    justify-content: flex-end;
    height: fit-content;
    font-size: 1rem;
}

.nav__switch__container {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    padding: 5px;
    height: fit-content;
    background-color: white;
    border-radius: 100vw;
}

.nav__switch__container > span {
    height: 15px;
    width: 15px;
    border-radius: 100vw;
    background-color: var(--color-primary);
}

.nav__switch__container__switchRight {
    margin-left: auto;
    transition: all 0.3s ease;
}

.nav__Button {
    all: unset;
    margin: 0 10px;
}

.burgerMenu {
    height: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 10%;
}

.burgerLine {
    height: 5px;
    width: 30px;
    background-color: white;
}

.sideMenu__container {
    /*margin-top: -100vh;*/
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
}

.sideMenu__modal {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.53);
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.sideMenu {
    position: sticky;
    padding: 5% 10%;
    left: 0;
    top: 0;
    width: 50%;
    height: 100vh;
    background-color: #0070f3;
    text-align: center;
    z-index: 50;
}

.sideMenu > p {
    color: white;
    font-size: 1.5rem;
    margin-top: 10%;
}

.sideMenu__menu__container {
    list-style: none;
    padding-left: 0;

}

.sideMenu__menu__container > li {
    padding: 10px 0;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

.searchBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    padding: 10px 5%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 25px var(--color-shadow);
    margin: 0 5vw 2vh 5vw;
    flex-grow: 1;
    align-self: flex-end;
}

.searchBar__textInput__container {
    flex-grow: 1;
    height: 100%;
    max-width: 100%;
    margin-right: 5%;
}

.searchBar__textInput {
    all: unset;
}

.searchBar__SearchButton {
    display: none !important;
}

.searchBar__SearchImageButton {
    margin: 0 0 1vw 0;
}

.searchBar__filterButton {
    all: unset;
    margin: 0 1vw;
}

.searchBar__location {
    all: unset;
    display: none;
    border-right: grey solid 1px;
    margin-right: 5%;
}

.searchBar__checkbox {
    display: none;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    flex-grow: 0.1;
}

@media (min-width: 768px) {
    .searchBar__textInput__container {
        flex-grow: 0.30;
    }

    .searchBar__textInput {
        border-right: grey solid 1px;
        width: 100%;
    }

    .searchBar__location {
        display: unset;
        flex-grow: 0.30;

    }

    .searchBar__checkbox {
        display: flex;
        min-width: fit-content;
        flex-grow: 0.30;

    }

    .searchBar__SearchButton {
        display: unset !important;

    }

    .searchBar__SearchImageButton {
        display: none !important;
    }

    .searchBar__filterButton {
        display: none !important;
    }

    .nav__buttons__container {
        display: flex;
    }

    .burgerMenu {
        display: none;
    }

    .sideMenu__container {
        display: none;
    }
}